<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="base"/>
  <arg name="odom_frame"  default="world"/>


  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find aliengo_2dnav)/rviz/gmapping_rviz.rviz"></node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>
